<%- include('partials/header')%>
<div class="text-light" style="height: 95vh; background-color: #212121;">
    <div class="container">
        <section class="py-5 text-center container">
            <div class="row py-5">
                <div class="col-md-8 col-lg-6 mx-auto">
                    <h1>Discord Node.js</h1>
                    <p class="lead text-muted">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam minus possimus voluptatum nesciunt recusandae! Tenetur alias molestiae quas quos exercitationem cupiditate dicta accusantium ullam magnam error! Eum temporibus consequatur odit quis magnam dolor, maxime, eaque officia aspernatur corporis iure veniam necessitatibus illo possimus sapiente, nam quae atque ea soluta harum?</p>
                    <p>
                        <a href="/auth" class="btn btn-primary my-2">Login with Discord</a>
                    </p>
                </div>
            </div>  
        </section>
    </div>
</div>
<%- include('partials/footer')%>
